<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime maxRequestLength="524288" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="ServiceApp.AmazingService"  behaviorConfiguration="behavior_AmazingService">
        <!--Endpoint for SOAP-->
        <endpoint
            address="SOAP"
            binding="basicHttpBinding"
            contract="ServiceApp.IAmazing"/>
        <!--Endpoint for REST-->
        <endpoint
            address="JSON"
            binding="webHttpBinding"
            behaviorConfiguration="behavior_JSON"
            contract="ServiceApp.IAmazing"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="behavior_AmazingService">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="behavior_JSON">
          <webHttp helpEnabled="true"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
