<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="GamersClock.UserSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <GamersClock.UserSettings>
            <setting name="ColorForeground" serializeAs="String">
                <value>white</value>
            </setting>
            <setting name="ColorBackground" serializeAs="String">
                <value>black</value>
            </setting>
            <setting name="FormatDatePart" serializeAs="String">
                <value>MM/dd/yyyy</value>
            </setting>
            <setting name="FormatTimePart" serializeAs="String">
                <value>hh:mm:ss tt</value>
            </setting>
            <setting name="DateTimeFont" serializeAs="String">
                <value>Calibri</value>
            </setting>
            <setting name="ShowElapsedTimeLabel" serializeAs="String">
                <value>True</value>
            </setting>
        </GamersClock.UserSettings>
    </userSettings>
</configuration>
