################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/node_modules/
/quickstart/
/TaskListPools/v1/
*.apk
*.dbmdl
*.jfm
*.MDF
*.LDF
**/.vs/
**/bin/
**/obj/
**/packages/