@model TaskListPoolWebApi.Models.TaskListModel

@*The JS should only be rendered if this partial is being used by itself *@
@if (Model.RenderJsBundles)
{
    @Scripts.Render("~/bundles/js")
}

@if (Model.RenderJsController)
{
    @Scripts.Render("~/Scripts/Controllers/taskPoolController2.js")
}

<table id="tblTasksModel" class="table">
    <thead>
        <tr>
            <th>Task</th>
            <th>Created On</th>
            <th><span class="glyphicon glyphicon-cog"></span></th>
        </tr>
    </thead>
    <tbody>
        @*This is where the template is applied for all elements of this model*@
    </tbody>
    <tfoot>
        <tr>
            <td>
                <input id="taskList_txtBody0" type="text" />
            </td>
            <td />
            <td>
                <button id="btnTaskAdd"
                        class="btn btn-info btn-md"
                        onclick="taskController.btnTaskAdd_click()">
                    <span class="glyphicon glyphicon-plus-sign"></span>
                </button>
            </td>
        </tr>
    </tfoot>
</table>

<table id="tblTasksTemplate" style="visibility:hidden;">
    <tr id="taskList_row_id0">
        <td>
            <span id="taskList_lblBody_id0" style="display:inline-block;"></span>
            <input id="taskList_txtBody_id0" type="text" style="display:none;" />
        </td>
        <td>
            <span id="taskList_lblCreatedOn_id0"></span>
        </td>
        <td>
            <div id="taskList_divReg_id0" style="display:inline-block;">
                <button id="taskList_btnTaskEdit_id0"
                        class="btn btn-info btn-md"
                        onclick="taskController.btnEditToggle_click(_id0, true)">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
                <button id="btnTaskDelete_id0"
                        class="btn btn-info btn-md"
                        onclick="taskController.btnTaskDelete_click(_id0)">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </div>
            <div id="taskList_divEdit_id0" style="display:none;">
                <button id="btnTaskOk_id0"
                        class="btn btn-info btn-md"
                        onclick="taskController.btnTaskEdit_click(_id0);">
                    <span class="glyphicon glyphicon-ok-sign"></span>
                </button>
                <button id="btnTaskCancel_id0"
                        class="btn btn-info btn-md"
                        onclick="taskController.btnEditToggle_click(_id0, false)">
                    <span class="glyphicon glyphicon-remove-sign"></span>
                </button>
            </div>
        </td>
    </tr>
</table>
<script type="text/javascript">taskController.page_load("tblTasksTemplate", "tblTasksModel", @Model.TaskGroupId);</script>
