@model IEnumerable<TaskListPoolLib.TaskGroup_GetAllWithSummary_Result>

@{
    Layout = "~/Views/Shared/_LayoutRegular.cshtml";
}
@Scripts.Render("~/Scripts/Controllers/taskGroupsController.js")

@Html.ActionLink("All tasks", "Index")
<table id="tblModel" class="table">
    <thead>
        <tr>
            <th>Group</th>
            <th>Description</th>
            <th>Created On</th>
            <th>Tasks</th>
            <th><span class="glyphicon glyphicon-cog"></span></th>
        </tr>
    </thead>
    <tbody>
        @*This is where the template is applied for all elements of this model*@
    </tbody>
    <tfoot>
        <tr>
            <td>
                <input id="txtName0" type="text" />
            </td>
            <td>
                <input id="txtDescription0" type="text" />
            </td>
            <td />
            <td />
            <td>
                <button id="btnTaskGroupAdd"
                        class="btn btn-info btn-md"
                        onclick="btnTaskGroupAdd_click()">
                    <span class="glyphicon glyphicon-plus-sign"></span>
                </button>
            </td>
        </tr>
    </tfoot>
</table>

<div id="dialog-form" title="Tasks">
    <form>
        <fieldset>
            <label for="name">Task Group Id</label>
            <input type="text" id="txtTargetTaskGroupId" value="" class="text ui-widget-content ui-corner-all">
            <div>
                Load the groups tasks here
            </div>
        </fieldset>
    </form>
</div>

@*This table's id name should not change so that the associated JavaScript file can find it always*@
<table id="trModelTemplate" style="visibility:hidden;">
    <tr id="row_id0">
        <td>
            <span id="lblName_id0" style="display:inline-block;"></span>
            <input type="text" id="txtName_id0" style="display:none;" />
        </td>
        <td>
            <span id="lblDescription_id0" style="display:inline-block;"></span>
            <input type="text" id="txtDescription_id0" style="display:none;" />
        </td>
        <td>
            <span id="lblCreatedOn_id0" />
        </td>
        <td>
            <span id="lblTaskCount_id0">0</span>
        </td>
        <td>
            <div id="divReg_id0" style="display:inline-block;">
                <button id="btnTaskGroupEdit_id0"
                        class="btn btn-info btn-md"
                        onclick="btnEditToggle_click(_id0, true)">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
                <button id="btnTaskGroupDelete_id0"
                        class="btn btn-info btn-md"
                        onclick="btnTaskGroupDelete_click(_id0)">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </div>
            <div id="divEdit_id0" style="display:none;">
                <button id="btnTaskGroupOk_id0"
                        class="btn btn-info btn-md"
                        onclick="btnTaskGroupEdit_click(_id0);">
                    <span class="glyphicon glyphicon-ok-sign"></span>
                </button>
                <button id="btnTaskGroupCancel_id0"
                        class="btn btn-info btn-md"
                        onclick="btnEditToggle_click(_id0, false)">
                    <span class="glyphicon glyphicon-remove-sign"></span>
                </button>
            </div>
            <button id="btnAddTasksToGroup_id0"
                    class="btn btn-info btn-md"
                    onclick="btnAddTasksToGroup_click(_id0)" >
                <span class="glyphicon glyphicon-list"></span>
            </button>
        </td>
    </tr>
</table>
<script type="text/javascript">page_load();</script>
