<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- These keys must be shared by both client and server.
         If any one of them is different the client will not
         be authenticated. -->
    <add key="HeaderName" value="HJB40d3139LD8ix" />
    <add key="HeaderNamespace" value="VoJjm8IiLlZe6m5" />
    <add key="AuthorizationTokenName" value="L7iH6zEal6FmYJs" />
    <add key="AuthorizationTokenValue" value="J2qH4G4P2FjTOCe" />
  </appSettings>
  
  
  <!-- Server Side Configuration Example -->
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="authorizationBehavior" 
             type="WCFServicesSecurity.AuthorizationBehaviorExtensionElement, WCFServicesSecurity, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
    </extensions>
    <services>
      <service name="Examples.AwesomeService"
               behaviorConfiguration="behavior_AwesomeService" >
        <endpoint address=""
                  binding="basicHttpBinding"
                  bindingConfiguration="binding_SOAP"
                  contract="Examples.IAwesomeService"
                  behaviorConfiguration="endpointBehavior_Authorization" />
        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="behavior_AwesomeService">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="endpointBehavior_Authorization">
          <authorizationBehavior />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  
  
  
  <!-- Client Side Configuration Example -->
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="authorizationBehavior" 
             type="WCFServicesSecurity.AuthorizationBehaviorExtensionElement, WCFServicesSecurity, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
    </extensions>
    <client>
      <endpoint address="http://127.0.0.1/AwesomeService.svc"
                binding="httpBinding"
                bindingConfiguration="binding_SOAP"
                contract="Examples.IAwesomeService"
                name="httpBinding_IAwesomeService"
                behaviorConfiguration="endpointBehavior_Authorization" />
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="endpointBehavior_Authorization">
          <authorizationBehavior />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  
  
  
</configuration>