<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="PublicWebService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="remotingServerURL" value="http://localhost/BaseWebApp/" />
    <add key="gatewayRS" value="Gateway.rem" />
    <add key="gatewayRS2" value="Gateway2.rem" />
  </appSettings>
    <connectionStrings />
    <system.web>
        <compilation debug="true">

        </compilation>
    <!--
      The <authentication> section enables configuration 
      of the security authentication mode used by 
      ASP.NET to identify an incoming user. 
    -->
    <authentication mode="Forms">
      <forms name="PWSCookie" slidingExpiration="true" />
    </authentication>
    <!--
       The <customErrors> section enables configuration 
       of what to do if/when an unhandled error occurs 
       during the execution of a request. Specifically, 
       it enables developers to configure html error pages 
       to be displayed in place of a error stack trace.

       <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
         <error statusCode="403" redirect="NoAccess.htm" />
         <error statusCode="404" redirect="FileNotFound.htm" />
       </customErrors>
    -->
    </system.web>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="Service1.asmx" />
            </files>
        </defaultDocument>
    </system.webServer>

    <applicationSettings>
        <PublicWebService.Properties.Settings>
            <setting name="PublicWebService_WcfRemotingServer_WcfRemotingService"
                serializeAs="String">
                <value>http://dyslexicbox3/BaseWebApp/WcfRemoting.svc</value>
            </setting>
        </PublicWebService.Properties.Settings>
    </applicationSettings>
</configuration>
