<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/" />
    <title>Task List</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jsfa", @* For angular.js *@
                    "~/bundles/jsfv", @* For vue.js *@
                    "~/bundles/js") @* Generic JS *@ 
</head>
<body>
    <div id="myApp" class="container-fluid">
        @RenderBody()
    </div>
</body>
</html>
