<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ServerOps.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="TestValue" value="-5" />
    <!-- OLD way to do connextion strings -->
      <add key="SQLConnectionString" value="Data Source=EUCLID\SQLEXPRESS;Initial Catalog=TestDB;Persist Security Info=True;User ID=ftrack;Password=ftrack1280" /> 
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <applicationSettings>
    <ServerOps.Properties.Settings>
      <setting name="SQLConnectionString" serializeAs="String">
          <!-- ft database
          <value>Data Source=EUCLID\SQLEXPRESS;Initial Catalog=ft;Persist Security Info=True;User ID=ftrack;Password=ftrack1280</value> -->
          <value>Data Source=EUCLID\SQLEXPRESS;Initial Catalog=TestDB;Persist Security Info=True;User ID=ftrack;Password=ftrack1280</value>
      </setting>
    </ServerOps.Properties.Settings>
  </applicationSettings>
</configuration>