<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="LotteryWcfService.CachedValues" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="LotteryURI" value="http://www.floridalottery.com/inet/lottoMain.do" />
  </appSettings>
  <system.web>
    <compilation debug="true"/>
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <services>
      <service name="LotteryWcfService.LotteryService" behaviorConfiguration="LotteryWcfService.LotteryServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/WCFService1"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="basicHttpBinding" contract="LotteryWcfService.ILotteryService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="LotteryWcfService.LotteryServiceBehavior">
          <!-- To avoid disclosing metadata information, 
          set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="True"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <userSettings>
    <LotteryWcfService.CachedValues>
      <setting name="LastCheckedTimeStamp" serializeAs="String">
        <value />
      </setting>
      <setting name="LastPulledLottoNumber" serializeAs="String">
        <value />
      </setting>
    </LotteryWcfService.CachedValues>
  </userSettings>
</configuration>
