<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="LotteryURI" value="http://www.floridalottery.com/lotto.do" />
  </appSettings>  
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <pages>
      <controls>
        <add tagPrefix="flc" tagName="NumberPairControl" src="~/Controls/NumberPair.ascx" />
        <add tagPrefix="flc" tagName="NumberPairGridControl" src="~/Controls/NumberPairGrid.ascx" />
      </controls>
    </pages>
  </system.web>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="StreamedRequestWebBinding"
                 bypassProxyOnLocal="true"
                 useDefaultWebProxy="false"
                 hostNameComparisonMode="WeakWildcard"
                 sendTimeout="10:15:00"
                 openTimeout="10:15:00"
                 receiveTimeout="10:15:00"
                 maxReceivedMessageSize="2147483647"
                 maxBufferSize="2147483647"
                 maxBufferPoolSize="2147483647"
                 transferMode="StreamedRequest">
          <readerQuotas maxArrayLength="2147483647"
                        maxStringContentLength="2147483647" />
        </binding>
      </webHttpBinding>
    </bindings>
    <services>
      <service name="LotteryWcfService.LotteryService" behaviorConfiguration="LotteryWcfService.LotteryServiceBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="LotteryWcfService.ILotteryService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="LotteryWcfHost.RestService" behaviorConfiguration="LotteryWcfService.LotteryRestServiceBehavior">
        <endpoint address="" binding="webHttpBinding" contract="LotteryWcfService.ILotteryService" bindingConfiguration="StreamedRequestWebBinding"  behaviorConfiguration="web" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="LotteryWcfService.LotteryServiceBehavior">
          <!-- To avoid disclosing metadata information, 
          set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="True"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
        <behavior name="LotteryWcfService.LotteryRestServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>