<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="ProcessName" value="javaw" />
        <add key="MaxCPUOffenses" value="10" />
        <add key="MaxCPULoad" value="95" />
        <add key="VerboseLogging" value="False" />
        <add key="CheckFrequency" value="19000" />
    </appSettings>
</configuration>