body
{
    
}

.TitleCell
{
    font-weight:bold; 
    font-size:large; 
    text-align:center; 
    font-family:Arial; 
    background-color:Gray;    
}

.BoldTop
{
    font-weight:bold;
    vertical-align:top;    
}

.obnoxiousTestBtn
{
    background-color:red; 
    height:100px; 
    width:300px; 
    font-weight:bold; 
    font-size:16px; 
    font-family:arial;
}

.Error
{
    
}