<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="maxMessageLength" value="500"/>
  </appSettings>
  <connectionStrings>
    <add name="ConnStringEuclid" connectionString="Data Source=EUCLID\SQLEXPRESS;Initial Catalog=PagingSwitch;Persist Security Info=True;User ID=ftrack;Password=ftrack1280"/>
    <add name="ConnString" connectionString="Data Source=PAGINGSWITCH\SQLEXPRESS;Initial Catalog=PagingSwitch;Persist Security Info=True;User ID=PagingSwitchUser;Password=alphamate"/>
    <add name="UserAuthDB" connectionString="Data Source=PAGINGSWITCH\SQLEXPRESS;Initial Catalog=aspnetdb;Persist Security Info=True;User ID=sa;Password=Alphamate!1"/>
    <!-- <add name="UserAuthDB" connectionString="Data Source=PAGINGSWITCH\SQLEXPRESS;Initial Catalog=aspnetdb;Integrated Security=SSPI;" /> -->
  </connectionStrings>
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.0"/>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms">
      <forms name="SqlAuthCookie" timeout="10" loginUrl="Login.aspx"/>
    </authentication>
    <authorization>
      <!-- <deny users="?" /> -->
      <allow users="*"/>
    </authorization>
    <membership defaultProvider="MySqlMembershipProvider">
      <providers>
        <clear/>
        <add name="MySqlMembershipProvider" connectionStringName="UserAuthDB" applicationName="BeeperWebApp" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="4" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression=""/>
      </providers>
    </membership>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.
        -->
    <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
      <error statusCode="403" redirect="NoAccess.htm"/>
      <error statusCode="404" redirect="FileNotFound.htm"/>
    </customErrors>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
</configuration>