<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="LotteryApp.UserConfig" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ILotteryService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/LotteryService/Service.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILotteryService"
        contract="LottoService.ILotteryService" name="BasicHttpBinding_ILotteryService" />
    </client>
  </system.serviceModel>
  <!-- 
    http://lotteryservice.apphb.com/Service.svc
    http://localhost/LotteryService/Service.svc
    <add key="PlayerLotteryNumber" value="1-17-23-31-44-53" />
    <add key="WinningNumber" value="5-7-15-30-46-48" />
    <add key="PlayerLotteryNumber" value="1-17-23-31-44-53" />
    -->
  <userSettings>
    <LotteryApp.UserConfig>
      <setting name="PlayerLotteryNumber" serializeAs="String">
        <value />
      </setting>
    </LotteryApp.UserConfig>
  </userSettings>
</configuration>
