<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="connStringWithValue" connectionString="Some value" />
    <add name="connStringWithBlank" connectionString="" />
    <!--<add name="connStringNotFound" connectionString="" />-->
  </connectionStrings>
  <appSettings>
    <add key="keyWithValue" value="value1"/>
    <add key="keyWithBlank" value=""/>
    <add key="keyWithWhiteSpace" value="     "/>
    <add key="keyWithPath" value="C:\blah\blah\blah\FileName.txt"/>
    <!--<add key="keyNotFound" value=""/>-->
  </appSettings>
</configuration>