<?xml version="1.0"?>
<configuration>
    <connectionStrings>
        <add name="ConnString" connectionString="Data Source=EUCLID\SQLEXPRESS;Initial Catalog=PagingSwitch;Persist Security Info=True;User ID=ftrack;Password=ftrack1280"/>
    </connectionStrings>
    <appSettings>
        <add key="debug" value="true"/>
        <add key="maxMessageLength" value="500"/>
        <add key="SerialPortName" value="COM1"/>
    </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
