<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="HeaderName" value="C2sz4i89a05MB1j" />
    <add key="HeaderNamespace" value="SF064673sm77KUY" />
    <add key="AuthorizationTokenName" value="Y0m92afg840Nhpi" />
    <add key="AuthorizationTokenValue" value="43tVt6x2KJc73SN" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <!-- Server Side Configuration Example -->
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="authorizationBehavior" 
             type="WcfServicesSecurity.AuthorizationBehaviorExtensionElement, WcfServicesSecurity, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
    </extensions>
    <services>
      <service name="Your Service Full Namespacing Goes Here" behaviorConfiguration="serviceBehavior">
        <endpoint address="net.tcp://localhost:35001/ServiceOne/" 
                  binding="netTcpBinding" 
                  contract="DevLeap.WCF.Behaviors.Contracts.IServiceOne" 
                  behaviorConfiguration="endpointBehavior" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="endpointBehavior">
          <authorizationBehavior />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  <!-- Client Side Configuration Example -->
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="authorizationBehavior" 
             type="WcfServicesSecurity.AuthorizationBehaviorExtensionElement, WcfServicesSecurity, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
    </extensions>
    <client>
      <endpoint name="serviceOneEndpoint" 
                address="net.tcp://localhost:35001/ServiceOne/" 
                binding="netTcpBinding"
                contract="DevLeap.WCF.Behaviors.Contracts.IServiceOne" 
                behaviorConfiguration="serviceOneBehavior" />
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="serviceOneBehavior">
          <authorizationBehavior />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>