<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <!-- add your targets here -->
    <target name="FlatFile"
            xsi:type="File"
            fileName="${basedir}/logs/${shortdate}.log"
            lineEnding="CRLF"
            keepFileOpen="true"
            concurrentWrites="true"
            maxArchiveFiles="5"
            archiveEvery="Day"
            createDirs="true"
            layout="${longdate} - ${level}${newline}Message: ${message}${newline}${exception:format=tostring}${newline}" />
  </targets>

  <rules>
    <!-- add your logging rules here -->
    
    <!--
    <logger name="*" minlevel="Trace" writeTo="f" />
    -->
    <logger name="*" minlevel="Debug" writeTo="FlatFile" />
  </rules>
</nlog>